{% extends 'base.html' %}
{% from 'security/_render_error.html' import render_form_error %}
{% from 'security/_macros.html' import render_field_with_errors, render_field, render_field_errors, render_form_errors, prop_next %}

<!--css-->
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/security/register.css') }}">
{% endblock %}

{% block title %}
Login
{% endblock %}

{% block content %}
    <div class="login-container">
        <h2>Create new account</h2>
        <div class="form-container">
            <form action="" method="POST" data-turbo="false">
                {{ register_user_form.csrf_token }}
                {{ register_user_form.email(placeholder='Email') }}
                <!--Errors-->
                {{ render_form_error(register_user_form.email) }}
                {{ register_user_form.password(placeholder='Password') }}
                {{ register_user_form.password_confirm(placeholder='Confirm Password') }}
                <!--Errors-->
                {{ render_form_error(register_user_form.password) }}
                {{ render_form_error(register_user_form.password_confirm) }}
                {{ register_user_form.submit(value='Register') }}
            </form>
        </div>
    </div>
{% endblock %}
