/* task section */

.main{
    flex-grow: 1;
    display: flex;
}

.main .task-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 20px 24px;
    flex-grow: 1;
}

.main .task-container .show-task{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 24px;
}

.main .search{
    position: relative;
}

.main .task-container .search input{
    width: 100%;
    padding: 8px 12px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background: #333333;
    border-radius: 8px;
    border: none;
}

input:focus{
    outline: none;
}


::placeholder{
    color: white;
}

.main .task-container .search i{
    position: absolute;
    font-size: 24px;
    right: 0%;
    bottom: 0%;
    top: 6px;
    padding-right: 12px;
}


.main .task-container .title div{
    font-size: 24px;
    font-weight: 700;
    display: flex;
    gap: 10px;
    justify-content: space-between;

}

.main .task-container .title div .menu{
    font-size: 24px;
    display: none;
}


.main .task-container .list{
    display: flex;
    flex-direction: column;
    max-height: 30vh;
    overflow-y: auto;
    gap: 8px;
}

.main .task-container .list .task-item-container{
    display: flex;
    align-items: center;
    width: 100%;
}

.task-item-container .check{
    background: #323232;
    padding: 0px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 0px 0px 8px;
    height: 48px;
}

.main .more-info .task-detail .task-detail-item{
    display: flex;
    gap: 8px;
    align-items: start;
}

.task-detail-item .check{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

.task-detail-item .list-item{
    height: 100%;
    display: flex;
    align-items: center;
}

.list-item p{
    width: 100%;
}

.main .more-info .task-detail .task-steps .subtask-item{
    display: flex;
    gap: 8px;
    align-items: start;
}

.subtask-item .check{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

.subtask-item .list-item{
    height: 100%;
    display: flex;
    align-items: center;
}

.subtask-item .list-item p{
    font-size: 16px;
}

.check input[type=checkbox]{
    cursor: pointer;
    transform: scale(1.3);
}

.main .task-container .list .list-item{
    background: #323232;
    font-size: 24px;
    font-weight: 600;
    padding: 12px 12px 12px 8px;
    display: flex;
    cursor: pointer;
    border-radius: 0px 8px 8px 0px;
    flex-grow: 1;
}

.main .task-container .completed-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex-grow:1;
    max-height: 35vh;
    overflow-y: auto;
}

.main .task-container .completed-container .completed{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    background: #2C2C2C;
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
}

.main .task-container .completed-container .completed-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    display: none;
}

.main .task-container .completed-container .completed-list .task{
    background: #323232;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.main .task-container .completed-container .completed-list .task .task-info{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-info .name{
    font-size: 24px;

}

.completed-task{
    text-decoration: line-through;
}

.task-info .due-date{
    display: flex;
    gap: 10px;
    align-items: center;
}

.task-info i{
    font-size: 18px;
}

.task-info p{
    font-size: 16px;
}

.main .task-container .add-task-container{
    padding: 12px;
    height: 48px;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
    background: #323232;
    display: flex;
    align-items: center;
    max-width: 100%;
}

.main .task-container .add-task-container p{
    color: #2B98DD;
    cursor: pointer;
}

/* More info task section */

.main .more-info{
    width: 18vw;
    min-width: 300px;
    background: #2B2828;
    padding: 20px 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    display: none;
}

.more-info .close{
     display: flex;
     justify-content: end;
     padding: 12px 0px;
     font-size: 20px;
}

.close i{
    cursor: pointer;
}

.more-info .task-detail{
    padding: 12px 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 8px;
    background: #323232;
}

.task-detail .task{
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    word-break: break-word;
}

.task-detail .task-steps{
    display: flex;
    flex-direction: column;
    padding: 12px 0px;
    gap: 16px;
}

.task-steps .divider{
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
}

.task-steps .step{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.step p{
    font-size: 16px;
    font-weight: 500;
}

.task-detail .add-step p{
    font-size: 20px;
    font-weight: 600;
    color: #2B98DD;
    cursor: pointer;
}

.more-info .task-date{
    flex-grow: 1;
    display: flex;
    align-items: end;
}

.task-date div{
    width: 100%;
    display: flex;
    padding: 16px 12px;
    background: #323232;
    border-radius: 8px;
}

.task-date div p{
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.task-date div i{
    cursor: pointer;
}

.task-container .no-task{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

#add-form, #add-step-form{
    flex-grow: 1;
    display: none;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

#add-form input[type=text]{
    border: none;
    color: #2B98DD;
    font-size: 24px;
    font-weight: 500;
    background: none;
    padding: 0px;
    height: 24px;
    width: 30%;
}

#add-form input[type=submit]{
    border: none;
    color: #2B98DD;
    font-size: 16px;
    background: #2B2828;
    cursor: pointer;
}

#add-step-form input[type=text]{
    border: none;
    color: #2B98DD;
    font-size: 24px;
    font-weight: 500;
    background: none;
    padding: 0px;
    height: 24px;
    width: 100%;

}

#add-step-form input[type=submit]{
    height: 24px;
    border: none;
    color: #2B98DD;
    font-size: 16px;
    background: #2B2828;
    cursor: pointer;
}

.task-detail .d-none{
    display: none;
}

.delete-container{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    display: none;
}

.delete-container .delete-box{
    width: 360px;
    height: 224px;
    border-radius: 8px;
    background: #242323;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 16px;

}

.delete-box h2{
    font-size: 24px;
    font-weight: 700;

}

.delete-box form{
    flex-grow: 1;
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 10px;
}

.delete-box form button, input[type=submit]{
    width: 120px;
    height: 35px;
    padding: 8px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #454343;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.delete-box form .delete-button{
    background: #981919;
}

/* media queries  */

@media screen and (max-width: 950px){
    nav{
        z-index: 20;
        position: absolute;
        height: 100%;
        display: none;
        min-width: 250px;
    }

    .main{
        justify-content: end;
    }

    .more-info{
        position: absolute;
        height: 100%;

    }

    /* nav menu */
    .main .task-container .title div .menu{
        display: block;
        cursor: pointer;

    }
}