<div class="main" id="main">
    <div class="title">
        <div>
            <div class="menu" id="menu">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div>
                <i class="fa-solid fa-list-check"></i>
                <p>Checklist</p>
            </div>
        </div>
    </div>
    <div class="checklist">
    </div>
    <div class="add-item-container">
        <div class="add-item">
            <p id="add-button">+ add item</p>
            <form action="" method="POST" id="add-item-check" class="add-form" autocomplete="off">
                <input type="text" name="item-name" id="item-name">
                <input type="hidden" name="item-check" id="item-check">
                <input type="submit" name="add-form" value="Add">
            </form>
        </div>
    </div>
</div>