<div class="main" id="main">
    <div class="title">
        <div>
            <div class="menu" id="menu">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div>
                <i class="fa-solid fa-list-check"></i>
                <p>Checklist</p>
            </div>
        </div>
    </div>
    <div class="content" id="checklist-content">
        <div class="checklist">
            <ul id="checklist">
                {% if current_user.checklist %}
                    {% for item in current_user.checklist %}
                        {% if not item.completed %}
                            <li>
                                <form action="" method="POST">
                                    <input type="checkbox" name="completed-checkbox" class="completed-checkbox">
                                    <input type="hidden" name="item-id" value="{{ item.id }}">
                                </form>
                                {{ item.name }}
                            </li>
                        {% endif %}
                    {% endfor %}
                {% else  %}
                    <p>Sorry no list item add new one</p>
                {% endif %}
            </ul>
        </div>
            <div class="completed {{ 'd-none' if not completed_items }}">
                <p>completed {{ completed_items }}</p>
                <i class="fa-solid fa-chevron-right"></i>
            </div>
            <div class="completed-list {{ 'd-none' if not completed_items }}"></div>
    </div>
    <div class="add-item-container">
        <div class="add-item">
            <p id="add-item">+ add item</p>
            <form action="" method="POST" id="add-item-check" class="add-form" autocomplete="off">
                <input type="text" name="item-name" id="item-name">
                <input type="hidden" name="item-check" id="item-check">
                <input type="submit" name="add-form" value="Add">
            </form>
        </div>
    </div>
</div>