<div class="content" id="checklist-content">
    <div class="checklist" id="replaced">
        <ul id="checklist" class="list-items">
            {% if current_user.checklist %}
                {% for item in current_user.checklist %}
                    {% if not item.completed %}
                        <li id="uncompleted-item-{{ item.id }}" class="item">
                                <form action="" method="POST">
                                    <input type="checkbox" name="completed-checkbox" class="completed-checkbox">
                                    <input type="hidden" name="item-id" value="{{ item.id }}">
                                </form>
                                {{ item.name }}
                        </li>
                    {% endif %}
                {% endfor %}
            {% else  %}
                <p>Sorry no list item add new one</p>
            {% endif %}
        </ul>
    </div>

    {% if content %}
    <div class="completed-list-container">
            <div class="completed">
                    <p>completed {{ content }}</p>
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            <div class="completed-list">
                <ul id="checklist-completed" class="completed-list">
                    {% if current_user.checklist %}
                        {% for item in current_user.checklist %}
                            {% if item.completed %}
                                <li id="completed-item-{{ item.id }}" class="item line-through">
                                    <form action="" method="POST">
                                        <input type="checkbox" checked name="uncompleted-checkbox" class="completed-checkbox">
                                        <input type="hidden" name="item-id-completed" value="{{ item.id }}">
                                    </form>
                                    {{ item.name }}
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
                <div class="delete-box-checklist">
                    <form action="" method="POST" id="delete-all-completed-form">
                        <input type="hidden" name="completed">
                        <input type="submit"
                               class="delete"
                               name="delete-completed" id="delete-checklist" value="Delete all Completed">
                    </form>
                </div>
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='js/checklist.js') }}"> </script>
</div>
