<div class="show-task" id="task-container">
            <!--        check if user has tasks-->
            {% if current_user.tasks %}
            <div class="search">
                <form action="" method="POST" id="search-form" autocomplete="off">
                    <input type="text" name="search" id="search-input" placeholder="search">
                    <input type="hidden" name="search-form">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </form>
            </div>
            {% endif %}
            <div class="title">
                <div>
                    <i class="fa-regular fa-circle-check"></i>
                    <p>Task</p>

                </div>
            </div>
    <!--        check if user has tasks-->
            {% if current_user.tasks %}
                <div class="list" id="task-list">
                    {% for task in current_user.tasks %}
                        {% if not task.completed %}
                            <div class="task-item-container" id="task-item-container-{{ task.id }}">
    <!--                            checkbox-->
                                <div class="check">
                                    <form action="" method="POST" id="check-{{task.id}}">
                                        <input type="hidden" name="task-check" value="{{ task.id }}">
                                        <input type="checkbox" name="check" id="{{ task.id }}" onclick="completed_task(this);">
                                    </form>
                                </div>

    <!--                            task info-->
                                <div class="list-item" id="list-item-{{task.id}}" onclick="show_detail(this)">
                                    <p>{{ task.title }}</p>
                                    <form action="" method="POST" style="display: none" id="form-{{task.id}}">
                                        <input type="hidden" name="task-id" value="{{ task.id }}">
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="completed-container" id="completed-task">
                    <div class="completed" id="completed">
                        <p id="completed-number">Completed {{ content }}</p>
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>

                    <div class="completed-list" id="completed-list">
                        {% for content in current_user.tasks %}
                            {% if content.completed %}
                                {% include 'includes/_completed_task.html' %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <div class="title no-task" id="no-task">
                    <div>
                        <p>No tasks, add new one.</p>
                        <i class="fa-regular fa-face-frown"></i>
                    </div>
                </div>
            {% endif %}
        </div>

<script>
    function send_search_form(){
    try{
        form = document.getElementById('search-form');
        input = document.getElementById('search-input');
        input.addEventListener('keyup', function(){
            form.requestSubmit();
        })
    }catch{
        //pass
    }
}

function show_completed_task(){
    try{
        const completed_container = document.getElementById('completed');
        const arrow = completed_container.children[1];
        const completed_list = document.getElementById('completed-list');
        let state = false;
        completed_container.addEventListener('click', ()=>{
            if(!state){
                show(degrees='90', display='flex');
                state = true;
            }else{
                show(degrees='0', display='none');
                state = false;
            }
        })

        function show(degrees, display){
            arrow.style.transform = 'rotate('+degrees+'deg)';
            completed_list.style.display = display;
        }
    }catch{
//        pass
    }
}
show_completed_task();
send_search_form();
</script>