<div class="content" id="checklist-content">
    <div class="checklist" id="replaced">
        <ul id="checklist" class="list-items">
            {% if current_user.checklist %}
                {% for item in current_user.checklist %}
                    {% if not item.completed %}
                        <li id="uncompleted-item-{{ item.id }}" class="item">
                                <form action="" method="POST">
                                    <input type="checkbox" name="completed-checkbox" class="completed-checkbox">
                                    <input type="hidden" name="item-id" value="{{ item.id }}">
                                </form>
                                {{ item.name }}
                        </li>
                    {% endif %}
                {% endfor %}
            {% else  %}
                <p>Sorry no list item add new one</p>
            {% endif %}
        </ul>
    </div>
    <div class="completed {{ 'd-none' if not content }}">
        <p>completed {{ content }}</p>
        <i class="fa-solid fa-chevron-right"></i>
    </div>
    <div class="completed-list {{ 'd-none' if not content }}"></div>
    <script src="{{ url_for('static', filename='js/checklist.js') }}"> </script>
</div>
