 <div class="close">
        <i class="fa-solid fa-circle-xmark" id="close" onclick="close_panel()"></i>
    </div>

    <div class="task-detail">
        <div class="task-detail-item">
            <!--                            checkbox-->
            <div class="check">
                <form action="" method="POST" id="check-{{content.id}}">
                    <input type="hidden" name="task-check" value="{{ content.id }}">
                    <input type="checkbox" name="check-task"
                           {{ "checked" if content.completed }}
                           id="{{ content.id }}" onclick="completed_task(this);">
                </form>
            </div>
            <!--                            task info-->
            <div class="list-item" id="list-item-{{content.id}}" onclick="show_detail(this)">
                <p class="{{'completed-task' if content.completed}}">{{ content.title }}</p>
                <form action="" method="POST" style="display: none" id="">
                    <input type="hidden" name="task-id" value="{{ content.id }}">
                </form>
            </div>
        </div>
<!--        Task steps-->
        <div class="task-steps {{ 'd-none' if not content.sub_tasks  }}" id="task-steps">
            {% for subtask in content.sub_tasks %}
                <div class="subtask-item">
<!--                    checkbox-->
                    <div class="check">
                        <form action="" method="POST" >
                            <input type="checkbox" name="check-task">
                        </form>
                    </div>
<!--                    subtask info-->
                    <div class="list-item">
                        <p>{{ subtask.title }}</p>
                        <form action="" method="POST" style="display: none" >
                            <input type="hidden" name="task-id" value="{{ content.id }}">
                        </form>
                    </div>
                </div>
    <!--            divider-->
                <div class="divider">
                </div>
            {% endfor %}
        </div>
        <div class="add-step">
            <p id="add-step">+ Add step</p>
            <form action="" method="POST" id="add-step-form" class="add-step-form" autocomplete="off">
                <input type="text" name="step_title" id="step-input">
                <input type="hidden" name="step" id="step">
                <input type="hidden" name="task_id" value="{{content.id}}">
                <input type="submit" name="add-step-form" value="Add">
            </form>
        </div>
    </div>

    <div class="task-date">
        <div>
            <p>{{ content.date|humanize_naturaldate() }}</p>
            <i class="fa-solid fa-trash-can"></i>
        </div>
    </div>

<script src="{{ url_for('static', filename='js/step.js') }}" defer></script>