<div class="subtask-item" id="subtask-id-container-{{content.id}}">
<!--checkbox-->
    <div class="check">
        <form method="POST" >
            <input type="checkbox"
            name="check-subtask" onclick="completed_subtask(this);"
                   {{ 'checked' if content.completed }}>
            <input type="hidden" name="subtask-id" value="{{ content.id }}">
        </form>
    </div>
<!--subtask info-->
    <div class="list-item">
        <p class="{{ 'completed-task' if content.completed }}"
                           id="subtask-id-{{content.id}}">{{ content.title }}</p>
        <form action="" method="POST" style="display: none" >
            <input type="hidden" name="task-id" value="{{ content.id }}">
            <input type="hidden" name="subtask-edited-name">
        </form>
    </div>
</div>