<section class="more-info">
    <div class="close">
        <i class="fa-solid fa-circle-xmark"></i>
    </div>

    <div class="task-detail">
        <div class="task">
            <p>Task name</p>
            <input type="checkbox" name="checked" id="3">
        </div>
        <div class="task-steps">
            <div class="step">
                <p>task step</p>
                <input type="checkbox" name="checked" id="6">
            </div>
<!--            divider-->
            <div class="divider">
            </div>
            <div class="step">
                <p>task step</p>
                <input type="checkbox" name="checked" id="4">
            </div>
<!--            divider-->
            <div class="divider">
            </div>
        </div>
        <div class="add-step">
            <p>+ Add step</p>
        </div>
    </div>

    <div class="task-date">
        <div>
            <p>Created on Tue, Aug 6</p>
            <i class="fa-solid fa-trash-can"></i>
        </div>
    </div>
</section>