<nav>
    <!--logo-->
    <img src="{{ url_for('static', filename='assets/img/todo_logo.svg') }}" alt="logo app" width="109">
    <div class="nav-content">
        <a href="{{ url_for('home') }}" target="_self">
            <div>
                <i class="fa-regular fa-circle-check"></i>
                <p>Task</p>
            </div>
        </a>

        <a href="">
            <div>
                <i class="fa-solid fa-list-check"></i>
                <p>Checklist</p>
            </div>
        </a>

        <a href="">
            <div>
                 <i class="fa-regular fa-note-sticky"></i>
                 <p>Note</p>
            </div>
        </a>
    </div>
    <div class="container">
        <div>
            <i class="fa-solid fa-gear"></i>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('profile') }}" target="_self">
                    <p>Your account</p>
                </a>
            {% else %}
                <a href="{{ url_for('login') }}">
                    Login
                </a>
            {% endif %}
        </div>
    </div>
</nav>