<div class="main-profile" id="main">
    <div class="head">
        <div class="menu" id="menu">
           <i class="fa-solid fa-bars"></i>
         </div>
        <div>
            <i class="fa-solid fa-circle-user"></i>
            <h2>User Info</h2>
        </div>
    </div>
    <form action="" class="update-user">
        <p>User Email</p>
        <input type="text" name="user_email" id="user_email" value="{{ current_user.email }}" disabled>
        <p>Change Password</p>
        <input type="password" name="current_password" placeholder="Current Password">
        <input type="password" name="new_password" placeholder="New Password">
        <div>
            <input type="submit" value="Change password">
        </div>
    </form>
</div>