<div class="main" id="main">
    <!--task-->
    <div class="task-container">
        <div class="show-task" id="task-container">
            <!--        check if user has tasks-->
            {% if current_user.tasks %}
            <div class="search">
                <form action="" method="POST" id="search-form" autocomplete="off">
                    <input type="text" name="search" id="search-input" placeholder="search">
                    <input type="hidden" name="search-form">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </form>
            </div>
            {% endif %}
            <div class="title">
                <div>
                    <div class="menu" id="menu">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                    <div>
                        <i class="fa-regular fa-circle-check"></i>
                        <p>Task</p>
                    </div>
                </div>
            </div>
    <!--        check if user has tasks-->
            {% if current_user.tasks %}
                <div class="list" id="task-list">
                    {% for task in current_user.tasks %}
                        {% if not task.completed %}
                            <div class="task-item-container" id="task-item-container-{{ task.id }}">
    <!--                            checkbox-->
                                <div class="check">
                                    <form action="" method="POST" id="check-{{task.id}}">
                                        <input type="hidden" name="task-check" value="{{ task.id }}">
                                        <input type="checkbox" name="check" id="{{ task.id }}" onclick="completed_task(this);">
                                    </form>
                                </div>

    <!--                            task info-->
                                <div class="list-item" id="list-item-{{task.id}}" onclick="show_detail(this)">
                                    <p>{{ task.title }}</p>
                                    <form action="" method="POST" style="display: none" id="form-{{task.id}}">
                                        <input type="hidden" name="task-id" value="{{ task.id }}">
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="completed-container" id="completed-task">
                    <div class="completed" id="completed">
                        <p id="completed-number">Completed {{completed_task}}</p>
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>

                    <div class="completed-list" id="completed-list">
                        {% for content in current_user.tasks %}
                            {% if content.completed %}
                                {% include 'includes/_completed_task.html' %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <div class="title no-task" id="no-task">
                    <div>
                        <p>No tasks, add new one.</p>
                        <i class="fa-regular fa-face-frown"></i>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="add-task-container">
            <p id="add-button">+ add task</p>
            <form action="" method="POST" id="add-form" class="add-form" autocomplete="off">
                <input type="text" name="task_title" id="input">
                <input type="hidden" name="task" id="task">
                <input type="submit" name="add-form" value="Add">
            </form>
        </div>
    </div>
    <!-- more info section-->
    <section class="more-info" id="more-info">

    </section>
</div>